.cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  margin: 92px 48px;
  margin-top: 12px;
}

@media screen and (max-width: 1024px) {
  .cover { 
    margin-left: 0;
    margin-right: 0;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover { 
    margin-top: 18px;
    height: 480px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover { 
    margin-top: 16px;
    height: 200px;
    margin-bottom: 64px;
  }
}